.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
}

/* Generate random star positions */
@keyframes twinkle {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateY(-500px) scale(0.2);
    opacity: 1;
  }
}

.star:nth-child(1) {
  top: 10%;
  left: 10%;
  animation: twinkle 5s infinite;
}

.star:nth-child(2) {
  top: 20%;
  left: 20%;
  animation: twinkle 3s infinite;
}

.star:nth-child(3) {
  top: 30%;
  left: 30%;
  animation: twinkle 4s infinite;
}